<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>
		<?php if (!empty($this->data['title'])) { echo $this->data['title'] . " - ";} echo ucfirst(APP_NAME);?>
	</title>
	<link rel="icon" type="image/png" href="<?php echo IMG_PATH;?>favicon.png">
	<?php foreach($this->css_files as $filename) { ?>
		<link rel="stylesheet" href="<?php echo CSS_PATH . $filename; ?>.css">
	<?php } ?>

	<?php foreach($this->js_files as $filename) { ?>
		<script src="<?php echo JS_PATH . $filename; ?>.js">
	<?php } ?>
</head>

<body>
	<header>
		<div class="center">
			<?php $this->load_html('header'); ?>
		</div>
	</header>

<?php $this->load_html('prompter'); ?>

	<section class="center">
		<main>
	<?php foreach($this->html_files as $filename) { $this->load_html($filename); } ?>
		</main>
	</section>

	<footer>
	</footer>

<?php
	$this->module_loader->websocket()->view->chat();
?>

</body>

</html>
