main{
	flex-wrap: wrap;
}

section.user_infos{
	padding:10px;
}
fieldset{
	line-height:21px;
	box-sizing:border-box;
	padding:15px;
	border-width:2px;
	border-style:solid;
    border-radius:8px;	 
	border-color: rgba(255, 200, 200, 1);
    margin: 10px 5px 10px 5px;
}

fieldset legend{
	color: rgba(255, 100, 100, 1);
}

fieldset#matching_preferences{
	float:left;
}
fieldset#tags{
	float:right;
}

div#tag, div#more_info, p#bio{
	text-align:justify;
}
#map{
	width:100%;
	height:200px;
}
.leaflet-geonames-search ul {
	max-height: 70px;
	overflow-y: auto;
}
div#more_info{
	float:left;
}
div#more_info span{
	display:inline-block;
	width:110px;
}
hr{
	margin:unset;
	border-width:0.5px;
	border-style:solid;
	border-color:black;
}
hr.delimiter{
	border-color:rgba(0,0,0,0.1);
}
div#profil_pic{
	margin:0 auto 0 auto;
	width:250px;
	object-fit:contain;
}
img#profil_pic{
	width:100%;
	height:100%;
}

table{
	border-collapse: collapse;
}

th,td{
   	border-width:0 0 1px 0;
   	border-style:solid;
   	border-color:black;
}

td{
	padding: 0 10px 0 10px;
   	border-color:rgba(0,0,0,0.1);
}

.f_title{
	text-align:center;
	text-transform:uppercase;
	font-weight:bold;
	font-size:10pt;
}

div.preferences{
	width:100%;
}
div.buttons{
	width:100%;
	margin-top:10px;
}
button.cancel_button{
	float:left;
	border-radius:5px;
	background-color:rgba(200,200,200,0.5);
}
button.edit_button{
	float:right;
	border-radius:5px;
	background-color:rgba(0,255,0,0.5);
}
button.edit_button:hover{
	background-color:rgba(0,255,0,1);
}
button.delete, button.add{
	float:right;
	color:rgba(255,0,0,0.5);
	border:1px solid transparent;
	background:none;
}
button.delete:hover{
	color:rgba(255,0,0,1);
}
button.delete:focus, button.add:focus{
	outline:unset;
} 
button.add{
	color:rgba(0,255,0,0.5);
}
button.add:hover{
	color:rgba(0,255,0,1);
}

textarea.edit{
	text-align:justify;
	resize:none;
	width:100%;
	min-height:100px;
}
input.edit, select.edit, textarea.edit{
	border:1px solid transparent;
	background:none;
	font-size: 16px;
}
input.edit:invalid
{
	background:red;
}

input.edit:hover, textarea.edit:hover, select.edit:hover{
	color: blue;
}

input.edit:focus, select.edit:focus, textarea.edit:focus
{
	outline:unset;
	vertical-align:center;
	border:1px solid black;
	background:white;
	font-size: 16px;
}
::placeholder{
	font-size:8pt;
}
