section#dashboard, section#history{
	width:50%;
	margin:20px;
}

section p{
	line-height:30px;
}

section p.section_title{
	color: rgba(255, 100, 100, 1);
    font-size: large;
}

section#dashboard div.profil_pic
{
	width:80px;
	height:80px;
}

section#dashboard div.profil_pic img{
	border-radius:5px;
	width:100%;
	height:100%;
}

div.top{
	margin-top:10px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	color: rgba(0,0,0,0.7);
	border: 1px solid rgba(0,0,0,0.3);
	text-align: center;
	padding: 6px;
	background-color: rgba(0, 0, 0, 0.02);
	font-size:large;
}

div.body{
	min-height:100px;
	padding: 15px;
	border: 1px solid rgba(0,0,0,0.3);
	border-top: none;
	margin-bottom: 20px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	overflow-y:auto;
}

table.t_div tr{
	border:solid rgba(0,0,0,0.3);
	border-width:1px 0;
}
table.t_div tr:first-child {
	border-top: none;
}

table.t_div tr:last-child {
	border-bottom: none;
}
table.t_div td.profil_pic{
	width:80px;
}
table.t_div td{
	padding:5px;
}
table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}

table tr, th{
	padding:10px;
}
table input{
	display:none;
}

table input[type="radio"]+label{
	background-image:unset;
	cursor:pointer;
}

table label:hover{
	color:rgba(255, 100, 100, 1);
}
table input[type="radio"]:checked+label{
	background-image:unset;
	color:rgba(255, 100, 100, 1);
}

div#div_liked,
div#div_liked_by,
div#div_visits_history,
div#div_likes_history,
div#div_blocked{
	display:none;
}
