.glyphicons
{
	width: 35px;
	height: 35px;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0px auto;
}

.glyph_book
{
	background-image: url("../img/glyphicons/glyphicons_088_address_book.png");
}

.glyph_group
{
	background-image: url("../img/glyphicons/glyphicons_043_group.png");
}

.glyph_envelope
{
	background-image: url("../img/glyphicons/glyphicons_010_envelope.png");
}

.glyph_globe
{
	background-image: url("../img/glyphicons/glyphicons_333_bell.png");
}

.glyph_cogwhell
{
	background-image: url("../img/glyphicons/glyphicons_136_cogwheel.png");
}

.glyph_vcard
{
	background-image: url("../img/glyphicons/glyphicons_264_vcard.png");
}

.glyph_keys
{
	background-image: url("../img/glyphicons/glyphicons_044_keys.png");
}

.glyph_ban
{
	background-image: url("../img/glyphicons/glyphicons_199_ban.png");
}

.glyph_logout
{
	background-image: url("../img/glyphicons/glyphicons_203_lock.png ");
}

.glyph_heart
{
	background-image: url("../img/glyphicons/glyphicons_012_heart.png");
}

.glyph_heart_empty
{
	background-image: url("../img/glyphicons/glyphicons_019_heart_empty.png");
}

.glyph_heart_first_half
{
	background-image: url("../img/glyphicons/glyphicons_019_heart_first_half.png");
}

.glyph_heart_second_half
{
	background-image: url("../img/glyphicons/glyphicons_019_heart_second_half.png");
}


.glyph_bug
{
	background-image: url("../img/glyphicons/glyphicons_360_bug.png");
}

.glyph_star
{
	background-image: url("../img/glyphicons/glyphicons_049_star.png");
}

.glyph_flash
{
	background-image: url("../img/glyphicons/glyphicons_053_alarm.png");
}








.glyph_checkbox
{
	background-image: url("../img/glyphicons/glyphicons_153_unchecked.png");
}

form#matches_form input + label
{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display:block;
	padding-right:25px;
	height:25px;
	background-image: url("../img/glyphicons/glyphicons_153_unchecked.png");
	background-repeat: no-repeat;
	background-position: right;
	line-height: 26px;
}

 form#matches_form input:checked + label
{
	background-image: url("../img/glyphicons/glyphicons_152_check.png");
}




