body{
	background-image:url("https://www.pgaction.org/inclusion/media/images/articles/lesbian-couple.jpg");
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: -200px 0;
}

section#register
{
	background-color: rgba(255, 220, 220, 0.51);
	width: 400px;
	min-width: 400px;
	margin:5px;
	float: right;
	padding:15px;
	border-radius: 10px;
}

section#register input
{
	margin: 10px;
	border-radius: 3px;
	padding: 5px;
	border: none;
}

section#register button#singup
{
	display:block;
	margin: 20px auto 20px auto;
	border-radius: 3px;
	padding: 5px 10px 5px 10px;
	border: none;
	font-size: 25px;
}

section#register div.radio_gender
{
	width:50%;
}

section#register div.radio_gender:nth-child(odd)
{
	text-align: right;
	float:left;
}

section#register div.radio_gender:nth-child(even)
{
	text-align: left;
	float:right;
}

section#register div.radio_gender input
{
	margin: 7px;
}


