main{
display:block;
}

input[type="checkbox"]{
	display:none;
}

input + label{
	cursor:pointer;
}

label:hover{
	font-weight: bolder;
	color:rgba(0, 0, 127, 0.8);
}

input:checked + label{
	font-weight: bolder;
	color: blue;
}

.container #tag_container{
	width:200px;
}
.container #tag_list{
	text-align:justify;
	max-height:70px;
	overflow-y:scroll;
	overflow-x:hidden;
	margin:5px;
}
ul li{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.container{
	/*margin:1vh 1vw 1vh 1vw;*/
}
article{
	margin:2vh 1vw 2vh 1vw;
}
div#form_container{
	width:100%;
	height:150px;
}
div#form_container form{
	height:100%;
}
div#filter_container{
width:100%;
	display:flex;
	justify-content: space-between;
	justify-content: space-around;


}

#profils{
width:100%;
}

button{
	cursor:pointer;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
button#search_button{
	width:100%;
}
