main{
	flex-wrap: wrap;
}

fieldset{
	width:280px;
	border-width:1px;
	border-style:solid;
	border-color:black;
	padding:5px;
	margin:10px;
}
fieldset#tag, fieldset#pictures{
	width:100%;
}
div#tag, div#more_info, p#bio{
	text-align:justify;
}
div#more_info span{
	display:inline-block;
	width:75px;
}
hr{
	border-width:0.5px;
	border-style:solid;
	border-color:black;
}
div#profil_pic{
	height:280px;
	width:280px;
	object-fit:contain;
}
img#profil_pic{
	max-height:280px;
	width:280px;
}
div.wrap{
	width:100%;
	height:30px;
}
div#o_gender{
	width:50%;
	float:left;
}
div#o_gender_identity{
	width:50%;
	float:right;
}
p{
	margin:5px;
}
.f_title{
	text-align:center;
	text-transform:uppercase;
	font-weight:bold;
	font-size:10pt;
}
#map{
	height:200px;
}
