main{
	flex-wrap: wrap;
}
section#profil{
	width:30%;
}
section#infos{
	width:70%;
}
div.profil_top{
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	color: rgba(0,0,0,0.7);
	border: 1px solid rgba(0,0,0,0.3);
	text-align: center;
	padding: 6px;
	background-color: rgba(0, 0, 0, 0.02);
	font-size:large;
margin:5px;
margin-top:20px;
margin-bottom:0px;
}

div.profil_body{
	min-height:100px;
	padding: 15px;
	border: 1px solid rgba(0,0,0,0.3);
	border-top: none;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
margin:5px;
margin-top:0px;
}

table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}

table input{
	display:none;
}

table input[type="radio"]+label{
	background-image:unset;
	cursor:pointer;
}

table label:hover{
	color:rgba(255, 100, 100, 1);
}
table input[type="radio"]:checked+label{
	background-image:unset;
	color:rgba(255, 100, 100, 1);
}

table#preferences th{
	    font-weight: bold;
		    padding: 0px 5px 15px 5px;
			    border-style: solid;
				    border-width: 0 0 1px 0;
					    border-color: grey;
}

table#preferences td{
padding: 10px;
    color: rgba(0,0,0,0.7);
	    border-style: solid;
		    border-width: 0 0 1px 0;
			    border-color: rgba(0,0,0,0.1);
}

div#div_pictures,
div#div_bio,
div#div_matching_preferences,
div#div_tags{
	display:none;
}

div#tag, div#more_info, p#bio{
	text-align:justify;
}

div#more_info 
{
	margin-top:15px;
}

div#more_info span
{
	display:inline-block;
	width:160px;
	margin-top:2px;
	font-weight:bold;

}

hr{
	border-width:0.5px;
	border-style:solid;
	border-color:black;
}
div#profil_pic{
	margin:auto;
	margin-bottom:20px;

	object-fit:contain;
}

div.pic{
	margin:auto;
	height:100px;
	width:100px;
	object-fit:contain;

}
div.flex_wrap{
	display:flex
	justify-content:space-evenly;
}

img.min{
	border-radius:5px;
	width:auto;
	max-height:125px;
	max-width:125px;
	
}

img#full_img{
	all:unset;
}


p{
	padding:5px;
}

div.interact:hover
{
	background-color: rgba(0, 0, 0, 0.05);
}

.f_title{
	text-align:center;
	text-transform:uppercase;
	font-weight:bold;
	font-size:10pt;
}

#map{
	height:200px;
	border-radius:10px;
}

div.show_img
{
	position: absolute;
	left: 0px;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0,0,0,0.5);
}

div.show_img img
{
	top:50vh;
	left:50vw;
	position:absolute;
	width: auto;
	height: auto;
	margin-left: -125px;
	margin-top: -125px;
}
