@media (max-width: 1024px) {
main
{
	flex-direction: column;
	justify-content:center;
}

section#history,
section#dashboard
{
	width: 90%;
	box-sizing: border-box;
}

	span.header_menutxt {
		display:none;
	}

	span.header_menutxt:hover
	{
		display:block;
	}

	section#message aside#recap_user,
	section#message aside#conv_list span.date,
	section#message aside#conv_list p.last_message
	{
		display:none;
	}

	section#message aside#conv_list
	{
		min-width: 200px;
	}

	section#message aside#conv_list p.username
	{
		margin-top: 16px;
		font-size: 17px;
	}

	span#nb_messages
	{
		margin-left: 8px;
	}

	span#nb_notif
	{
		margin-top: -35px;
	}

}

@media (max-width: 600px) {
	h1#title,
	h1#title a
	{
		width:0px;
		overflow:hidden;
		 color: rgba(255, 255, 255, 0);
	}
}
