@font-face {
	font-family: 'din1451';
	src: url('font/din1451stdengschrift.ttf');
}

@font-face {
	font-family: 'geo';
	src: url('font/GeosansLight.ttf');
}

@font-face {
	font-family: 'geo-oblique';
	src: url('font/GeosansLight-Oblique.ttf');
}

/*------------------------------------------------------------------*/

body
{
	font-family: arial;
	color:rgba(0,0,0,0.7);
}



h1, h2, h3, h4, h5, h6
{
	margin:5px;
	font-family: arial;
	font-size: 20px;
}

h1#title
{
	font-family: din1451;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 55px;
	box-sizing: border-box;
	margin-top: 20px;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	padding-right: 60px;
	background-position: right top;
}


section#prompter {
	position:absolute;
	width:100%;
}

section#prompter div{
	position:relative;
	z-index:9999;
	margin:5px auto 5px auto;
	width:60%;
	padding:7px;
	border-radius:3px;
	border:1px solid;
	animation-name: fade;
	animation-duration: 2s;
}

section#prompter div.prompter_fail{
	background-color:rgba(253, 197, 206, 1);
	border-color:rgba(250, 103, 127, 1);
}

section#prompter div.prompter_success{
	background-color:rgba(206, 252, 197, 1);
	border-color:rgba(126, 246, 102, 1);
}

p,label, input, select{
	color:rgba(0,0,0,0.6);
}

header, main, footer, section
{
	box-sizing: border-box;
	text-align: center;
}

section#login a{
	float:right;
}

a
{
	color: rgba(255, 100, 100, 1);
	text-decoration: none;
}

.center
{
	height: 100%;
	max-width: 1024px;
	margin: 0px auto 0px auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

input
{
	border-radius: 3px;
	padding: 2px;
	padding-left: 8px;
	border: none;
}

button{
	border-radius: 3px;
	border:none;
	padding: 5px 5px 5px 5px;
	color: #666;
}

::-webkit-scrollbar {
	  width: 5px;
}

::-webkit-scrollbar-thumb {
	background:rgba(0,0,0,0.1);
	border-radius: 10px;
}
/*- HEADER ---------------------------------------------------------*/

header 
{
	height: 60px;
	width: 100%;
	position: sticky;
	top: 0px;
	background-color: rgb(252, 113, 159);
	z-index: 2000;
	color:white;
}

header a
{
	color:white;
}

header span.loggued_username
{
	position:relative;
	top: -18px;
	font-size: 20px;
}

div#notif
{
	cursor: pointer;
}

span#nb_messages
{
	background-color: red;
	border-radius: 5px;
	padding: 3px 5px;
	font-size: 13px;
	font-weight: bold;
	position: absolute;
	margin-left: 45px;
	margin-top: -35px;
	box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.4);
}

span#nb_notif
{
	background-color: red;
	border-radius: 5px;
	padding: 3px 5px;
	font-size: 13px;
	font-weight: bold;
	position: absolute;
	margin-left: 5px;
	margin-top: -50px;
	box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.4);
}

header nav ul li
{
	float: left;
	font-size:small;
}

header nav ul li + li
{
	margin-left: 20px;
}

header li a:hover,
div#notif:hover,
span.header_menutxt:hover
{
	opacity:0.9;
	color:black;
}

header li a:hover img
{
	opacity:0.5:
}

header nav,
header h1,
header nav ul
{
	align-self: center;
}

img#loggued_pic
{
	margin-top: 7px;
	width:30px;
	height:30px;
	border-radius: 100%;
	border: 2px solid rgba(0, 0, 0, 0.4);
}

section#login
{
}

/*- WRAP -----------------------------------------------------------*/

section#wrap
{
}

main
{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/*- HOME -----------------------------------------------------------*/

#home
{
	width:100%;
	float:left;

}

/*- FOOTER ---------------------------------------------------------*/

footer
{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

/*- LOGIN ----------------------------------------------------------*/
/*
section#login
{
	right: 0px;
	top: 0px;
	align-self: center;
}
*/
/*- CHAT -----------------------------------------------------------*/

	div#chat_list
	{
		display:none;
		position: fixed;
		right: 0px;
		bottom:0px;
		float: right;
		width:200px;
		padding: 0px 10px 0px 10px;
		box-sizing: border-box;
		border: 1px solid #ffdddd;
		background: rgba(255, 240, 240, 1);
		border-top-left-radius: 5px;
		max-height: calc(100vh - 60px);
		overflow: hidden auto; 
		z-index: 1000;
		box-shadow: 0px 0px 20px rgba(255, 190, 190, 1);
	}

	@media only screen and (min-width: 1450px) {
		div#chat_list {
			border-top-left-radius: 0px;
			border: none;
			border-left: 1px solid #ffdddd;
			height: calc(100vh - 60px);
		}
	}

	div#chat_list p
	{
		padding-top: 7px;
		padding-bottom: 4px;
		cursor:pointer;
	}

	div#chat_list p + p
	{
		border-top: 1px solid #ffdddd;
	}

	.non_connected span
	{
		display: block;
		border-radius: 100%;
		float:right;
		height: 10px;
		width: 10px;
		margin-right: 2px;
		margin-top: 3px;
		background-color: grey;
		transition: background-color 0s 0.3s, margin-top 0s 0.3s, margin-right 0s 0.3s, height 0s 0.3s, width 0s 0.3s;
	}

	.connected span,
	.non_connected span
	{
	}

	.connected span
	{
		display: block;
		border-radius: 100%;
		float:right;
		background-color: green;
		margin-right: 0px;
		margin-top: 0px;
		height: 15px;
		width: 15px;
	}

	.status_chat
	{
		text-align: center;
	}

	section#chat_conv
	{
		position: fixed;
		max-height: 0px;
		right: 200px;
		bottom: 0px;
		float: right;
		display: flex;
		align-items: flex-end;
		z-index: 1000;
	}

	.conv
	{
		position: relative;
		margin-right: 15px;
		float:left;
		bottom: 0px;
		box-shadow: 2px 2px 5px rgba(255, 100, 100, 0.2);
	}

	.conv_name
	{
		color: #444444;
		font-family: arial;
		padding: 5px;
		background: #ffdddd;
		cursor:pointer;
	}
	
	.name
	{
		text-align: left;
	}

	.close_conv
	{
		float: right;
		margin-right:5px;
		margin-left: 15px;
	}

	.conv_elem
	{
		height:300px;
		width:250px;
		display: flex;
		box-sizing: border-box;
		flex-direction: column;
		justify-content: center;
		border: 1px solid #ffdddd;
		align-items: stretch;
	}

	.msg_box
	{
		max-height:100%;
		box-sizing: border-box;
		background: rgba(255, 240, 240, 1);
		padding: 10px;
		overflow: hidden auto;
		bottom:0px;
		height:100%;
	}

	div.msg_box div
	{
		text-align: left;
		margin-bottom:5px;
		color: #09F;
	}

	div.msg_box div.from_me
	{
		text-align: right;
		color: grey;
	}

	div.msg_box div p
	{
		display: inline-block;
		padding: 8px 10px;
		box-sizing: border-box;
		background-color: #fff;
		border: 1px solid #ffdddd;
		border-radius: 10px;
		word-wrap: break-word;
		text-align: justify;
		max-width: 100%;
	}

	div.msg_box div.from_me p
	{
		text-align:right;
	}


	input.chat_input
	{
		width: 100%;
		box-sizing: border-box;
		padding: 10px 8px;
		color: #191919;
		border: none;
		padding: 5px 10px;
		background-color: #fff;
		display:inline-block;
	}

	.button_send
	{
		display: none;
	}

	.error
	{
		color:#FF0000;
	}

	.chat-box-html
	{
		color: #09F;
		margin: 10px 0px;
		font-size:0.8em;
	}

/*- NOTIFICATIONS --------------------------------------------------*/

	div#notif div#detail
	{

		font-size: 13px;
		padding-right:15px;
		text-align: left;

		display:none;

		max-height:300px;
		overflow: hidden auto;

		position:absolute;
		top: 50px;
		background-color: rgba(255, 200, 200, 1);
		border: 1px solid rgba(255, 150, 150, 1);
		border-radius: 4px;
		color: rgba(100, 100, 100, 1);
		box-shadow: 10px 10px 30px rgba(150, 70, 70, 0.6);
	}

	div#notif div#detail p
	{
		width:300px;
		padding:7px;
	}

	div#notif div#detail p a
	{
		font-size: 14px;
		font-weight: bolder;
	}

	div#notif div#detail p + p
	{
		border-top: 1px solid rgba(255, 150, 150, 0.5);
	}

	div#notif div#detail p span.date
	{
		float:right;
	}

	p.seen
	{
		background-color: rgba(255, 255, 255, 1);
		transition: background-color 3s 1s;
	}
